@{
    ViewData["Title"] = "Theme Settings";
}

<div class="container-fluid">
    <div class="card p-4">

        <div class="mb-3">
            <label>Primary Color</label>
            <input type="color" id="primaryColor" class="form-control form-control-color" />
        </div>

        <div class="mb-3">
            <label>Accent Color</label>
            <input type="color" id="accentColor" class="form-control form-control-color" />
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="darkMode">
            <label class="form-check-label">Dark Mode</label>
        </div>

        <button onclick="showAlert()" class="btn btn-primary">Click</button>

    </div>

</div>

@{
    ViewData["Title"] = "Theme Settings";
}

<div class="container-fluid">
    <!-- MY INPUT
    -->
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("primaryColor").value =
                localStorage.getItem("hms-primary") || "#09466e";

            document.getElementById("accentColor").value =
                localStorage.getItem("hms-accent") || "#fa1911";

            document.getElementById("darkMode").checked =
                localStorage.getItem("hms-dark") === "true";
        });

        function applyTheme() {
            const primary = document.getElementById("primaryColor").value;
            const accent = document.getElementById("accentColor").value;
            const dark = document.getElementById("darkMode").checked;

            saveHmsTheme(primary, accent, dark);
            alert("Theme applied successfully");
        }
    </script>
}
 <script>
      function showAlert() {
          Swal.fire({
              title: "you change the theme!",
            text: "Theme applied successfully",
              icon: "success"
          });
      }
</script>